
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
}

a {
    color: #f39c12;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.hero {
    background: linear-gradient(135deg, #1f1f1f, #333);
    padding: 5rem 2rem;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    color: #f39c12;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.2rem;
    color: #ccc;
}


section {
    padding: 3rem 2rem;
    max-width: 1000px;
    margin: auto;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #f39c12;
    text-align: center;
}

.about p,
.contact p {
    text-align: center;
    font-size: 1rem;
    color: #aaa;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.project-card {
    background: #1e1e1e;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.7);
}

.project-card img {
    width: 100%;
    height: 150px; 
    object-fit: contain;
    background: #111;
}

.project-card h3 {
    margin: 0.5rem 1rem 0;
    color: #f39c12;
}

.project-card p {
    margin: 0.3rem 1rem;
    color: #ccc;
    font-size: 0.9rem;
}

.project-card a {
    display: inline-block;
    margin: 0.5rem 1rem 1rem 1rem;
    padding: 0.5rem 1rem;
    background: #f39c12;
    color: #111;
    border-radius: 6px;
    font-weight: 700;
    transition: 0.3s;
}

.project-card a:hover {
    background: #e08e0b;
}

footer {
    text-align: center;
    padding: 2rem;
    background: #1f1f1f;
    color: #aaa;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    section h2 {
        font-size: 1.8rem;
    }
}

